.App{
    margin-left: 50px;
    margin-top: 50px;
}
.imageFabric{
    height:200px;
    background-repeat: no-repeat!important;
    background-size: auto!important;
}
.card{
    width:300px;
    float:left;
}
.websiteNameForm{
    float:left;
    width:fit-content;
    margin-right: 10px;
}
.websiteTextForm{
    float:right;
    width:fit-content;
    margin-right: 10px;
}
.mainForm{
    float:left;
    height:50px;
    margin-left:400px;
}